/*学堂banner文件样式*/

#banner dl {
    float:left;    /*向左浮动*/
    width:866px;    /*宽度定义*/
    height:124px;    /*高度定义*/
    margin:27px 0 0 62px;    /*内边距定义*/
    display:inline;    /*内联元素定义*/
}
#banner dl dd {
    float:left;    /*向左浮动*/
    width:59px;    /*宽度定义*/
    height:124px;    /*高度定义*/
    background:url(images/xt.jpg) no-repeat;    /*背景定义*/
    text-indent:60px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
}
#banner dl dt {
    float:left;    /*向左浮动*/
    margin:4px 0 0 30px;    /*外边距定义*/
    display:inline;    /*内联元素定义*/
}
#banner .h1 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat 0 0;    /*背景定义*/
}
#banner .h2 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -84px 0;    /*背景定义*/
}
#banner .h3 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -168px 0;    /*背景定义*/
}
#banner .h4 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -252px 0;    /*背景定义*/
}
#banner .h5 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -336px 0;    /*背景定义*/
}
#banner .h6 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -420px 0;    /*背景定义*/
}
#banner .h7 a {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg.jpg) no-repeat -504px 0;    /*背景定义*/
}

#banner .h1 a:hover, #banner .h1 a.cur1 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat 0 0;    /*背景定义*/
}
#banner .h2 a:hover, #banner .h2 a.cur2 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -84px 0;    /*背景定义*/
}
#banner .h3 a:hover, #banner .h3 a.cur3 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -168px 0;    /*背景定义*/
}
#banner .h4 a:hover, #banner .h4 a.cur4 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -252px 0;    /*背景定义*/
}
#banner .h5 a:hover, #banner .h5 a.cur5 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -336px 0;    /*背景定义*/
}
#banner .h6 a:hover, #banner .h6 a.cur6 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -420px 0;    /*背景定义*/
}
#banner .h7 a:hover, #banner .h7 a.cur7 {
    display:block;    /*块元素定义*/
    width:84px;    /*宽度定义*/
    height:118px;    /*高度定义*/
    text-indent:90px;    /*文本缩进*/
    white-space:nowrap;    /*强制不换行*/
    overflow:hidden;    /*溢出隐藏*/
    background:url(images/xue_bg1.jpg) no-repeat -504px 0;    /*背景定义*/
}





/*学堂侧栏文件样式*/

#main #sider .ca {
    float:left;    /*向左浮动*/
    margin-top:35px;    /*上外边距定义*/
    display:inline;    /*内联元素定义*/
}


/*学堂内容文件样式*/

#main #content .si {
    float:left;    /*向左浮动*/
    width:693px;    /*宽度定义*/
    margin:0 0 25px 40px;    /*外边距定义*/
    border-bottom:2px dotted #9A8376;    /*底边框定义*/
    display:inline;    /*内联元素定义*/
}
#main #content .si h2 {
    line-height:28px;    /*行距定义*/
    text-align:center;    /*文本居中*/
    font-family:楷体_GB2312;     /*字体*/
    font-size:30px;    /*字体大小*/
    color:#B20B0B;    /*颜色定义*/
    margin:30px auto 8px auto;    /*外边距定义*/
}
#main #content .si h6 {
    line-height:18px;    /*行距定义*/
    text-align:center;    /*文本居中*/
    font-weight:normal;
    margin:3px auto 8px auto;    /*外边距定义*/
    font-size:12px;    /*字体大小*/
}
#main #content p {
    text-align:justify;    /*两端对齐*/
    font-size:16px;    /*字体大小*/
    width:693px;    /*宽度定义*/
    margin:0 auto 15px auto;    /*外边距定义*/
    color:#000;    /*颜色定义*/
    text-indent:2em;    /*文本缩进*/
    line-height:28px;    /*行距定义*/
}





/*学堂大德谈心中心内容文件样式*/

#main #content .shipin {
    float:left;    /*向左浮动*/
    width:504px;    /*宽度定义*/
    height:412px;    /*高度定义*/
    border:1px solid #c7c5c5;    /*边框定义*/
    margin:25px 134px 15px 134px;    /*外边距定义*/
    display:inline;    /*内联元素定义*/
}
#main #content .shipin object {
    margin:2px;    /*外边距定义*/
}

/*学堂启用法门内容文件样式*/

#main #content h4 {
    float:left;    /*向左浮动*/
    width:693px;    /*宽度定义*/
    margin:25px 0 25px 40px;    /*外边距定义*/
    line-height:60px;    /*行距定义*/
    text-align:center;    /*文本居中*/
    font-family:楷体_GB2312;     /*字体*/
    font-size:30px;    /*字体大小*/
    color:#B20B0B;    /*颜色定义*/
    border-bottom:2px dotted #9A8376;    /*底边框定义*/
    display:inline;    /*内联元素定义*/
}

#main #content .tu {
    width:572px;    /*宽度定义*/
    margin:25px auto 15px auto;    /*外边距定义*/
}

#main #content .sta {
    float:left;    /*向左浮动*/
    width:664px;    /*宽度定义*/
    border:0;    /*边框定义*/
    border-collapse:collapse;    /*边框压缩*/
    margin-left:54px;    /*内边距定义*/
    background:url(images/xueline.gif) repeat;   /*背景定义*/
    display:inline;    /*内联元素定义*/
}
#main #content .sta tr {
    height:30px;    /*高度定义*/
}
#main #content .sta .k1 {
    width:67px;    /*高度定义*/
    vertical-align:top;    /*顶部对齐*/
    text-align:center;    /*文本居中*/
    align:center;    /*顶部对齐*/
}
#main #content .sta .k2 {
    width:597px;    /*高度定义*/
    line-height:30px;    /*行距定义*/
    padding-left:10px;    /*左内边距定义*/
}

#main #content .sta .ku {
    padding:0 13px 0 14px;    /*内边距定义*/
    text-align:justify;    /*两端对齐*/
    line-height:30px;    /*行距定义*/
    font-size:16px;    /*文本大小*/
    color:#000;    /*颜色定义*/
}

#main #content h5 {
    float:left;    /*向左浮动*/
    width:772px;    /*宽度定义*/
    height:32px;    /*高度定义*/
    text-align:center;    /*文本居中*/
    font-family:楷体_GB2312;     /*字体*/
    font-size:26px;    /*字体大小*/
    color:#B20B0B;    /*颜色定义*/
    margin:45px 0 10px 0;    /*外边距定义*/
}

#main #content .to {
    float:left;    /*向左浮动*/
    width:226px;    /*宽度定义*/
    height:34px;    /*高度定义*/
    margin:10px 0 15px 272px;    /*外边距定义*/
    display:inline;    /*内联元素定义*/
}

#main #content #dag {
    float:left;    /*向左浮动*/
    width:693px;    /*宽度定义*/   
    margin:30px 0 50px 39px;      /*外边距定义*/ 
    display:inline;    /*内联元素定义*/ 
}
#main #content #dag p {
    line-height:21px;    /*行距定义*/
    text-indent:0;    /*文本缩进*/
    text-align:center;    /*文本居中*/
    font-family:楷体_GB2312;     /*字体*/
    font-size:21px;    /*字体大小*/
}













